div {
    /*border: 0.1px solid #000;*/
}

.center {
	margin: auto;
}

.hidden {
	visibility: hidden;
	display: none;
}

/*Foundation overwrites*/

.views {
	margin-left: 15px;
	margin-right: 15px
}

.button {
	margin-bottom: 0px !important;
}

.menuButton  {
	margin: 0px;
	max-height: 45px !important;
}

.capitalize {
	text-transform:capitalize;
}

.settingMenuCard {
	padding: 10px;
}


/* Custom Classes */
/*Home Page*/

/* Login Modal */

/*input[type=text] {
    border: 2px solid red;
}*/

/* Loading Icon */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Firebase Login CSS Flags */

#menu_modal_button {
	border-top: 0px;
	border-bottom: 0px;
}

#loggedInAsIcon {
	border-top: 0px;
	border-bottom: 0px;
	border-radius: 10px 0px 0px 10px;
	margin: 0px;
	max-height: 45px !important;
	white-space: nowrap;
}

.loggedanonFlag {
	background-color: #ffae00;
	border-left: 15px solid #ffae00;
	border-top: 0px;
	border-bottom: 0px;
}

.loggedinFlag {
	background-color: #3adb76;
	border-left: 15px solid #3adb76;
	border-top: 0px;
	border-bottom: 0px;
}

.loggedoutFlag {
	border-left: 15px solid #cc4b37;
	background-color: #cc4b37;
}